.category-wrapper {
  margin-bottom: 40px;
}

.category-info {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background: #cababa;
  text-transform: uppercase;
  border: none;
}

.category-info:hover {
  background: #8ebfbe;
}
